<jr-navigation first="系统管理" second="产品类型管理"></jr-navigation>
<style>
    .headerCss{
        text-align: center;
    }
    .cellCss{
        text-align: center;
    }
</style>
<div layout="column" style="background: #E5E9EC;" ng-controller="productTypeCTRL as ctrl">
    <md-content flex style="background: #E5E9EC;">
        <md-card style="margin-top: 2px;">
            <md-card-content>
                <form name="SearchForm">
                    <div layout layout-sm="column" class="no-bottom">
                        <md-input-container flex style="padding-bottom: 1px;">
                            <label>产品类型名称：</label>
                            <input ng-model="obj.searchObj.LIKE$type_name">
                        </md-input-container>
                        <div layout layout-sm="column" class="no-bottom">
                            <div flex class="no-bottom" style="padding-bottom: 1px;">
                                <div flex layout layout-sm="column">
                                    <md-input-container flex style="padding:2px 2px 0px 2px;">
                                        <label>创建时间：</label>
                                        <input type="date" name="create_date"
                                               ng-model="obj.searchObj.START$create_date" aria-label="创建时间" >
                                    </md-input-container>
                                    <p style="margin: 0.2em 1em;"><label style="margin-top: 21px;">~</label></p>
                                    <md-input-container flex style="padding:2px 2px 0px 2px;">
                                        <label>结束时间：</label>
                                        <input type="date" name="create_date"
                                               ng-model="obj.searchObj.END$create_date" aria-label="结束时间" >
                                    </md-input-container>
                                </div>
                                <div ng-messages="SearchForm.create_date.$error" class="ng-active" flex>
                                    <div ng-if="obj.searchObj.END$create_date != null && (obj.searchObj.END$create_date-obj.searchObj.START$create_date<0)" class="ng-scope"
                                         style="color: rgb(244,67,54);font-size: 12px;">
                                        结束日期只可选择晚于开始日期的时间！</div>
                                </div>
                            </div>
                        </div>
                        <md-input-container flex style="padding-bottom: 1px;"></md-input-container>
                    </div>
                </form>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button ng-click="toggleRight()" class="md-raised" layout layout-align="center end">添加</md-button>
                <md-button ng-click="search()" class="md-raised" layout layout-align="center end">查询</md-button>
            </div>
        </md-card>
    </md-content>
    <section layout="row" flex>
        <md-content flex style="background: #E5E9EC;">
            <md-card style="margin-top: 2px;">
                <md-card-content>
                    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-pinning
                         ui-grid-resize-columns ui-grid-auto-resize></div>
                </md-card-content>
            </md-card>
        </md-content>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="min-width:800px;" md-component-id="right">
            <form name="user_form">
                <div layout="column">
                    <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
                        <h2 class="md-toolbar-tools" style="text-align: center;overflow:hidden;color: white;">
                            <span>编辑产品类型信息</span>
                        </h2>
                    </md-content>
                    <md-content layout-padding>
                        <form>
                            <input type="hidden" ng-model="obj.object.id">
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <p style="margin:0px;font-weight:bold;font-size:0.4em;color: #3F51B5;"
                                       class="md-caption md-primary">
                                        产品类型名称:<font style="color: red;margin-left: 4px;">*</font></p>
                                    <input name="type_name" type="text" ng-model="obj.object.type_name" required
                                           md-maxlength="50" ng-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9]+$/">
                                    <div ng-messages="user_form.type_name.$error"
                                         ng-show="user_form.type_name.$dirty || user_form.type_name.$touched">
                                        <div ng-message="required">请输入产品类型名称！</div>
                                        <div ng-message="md-maxlength">产品类型名称不能超过50个字节！</div>
                                        <div ng-message="pattern">产品类型名称只能输入中英文字符或者数字！</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column" ng-if="openFlg==1">
                                <md-input-container flex md-no-float>
                                    <p style="margin:0px;font-weight:bold;font-size:0.4em;color: #3F51B5;"
                                       class="md-caption md-primary">
                                        创建人:<font style="color: red;margin-left: 4px;"></font></p>
                                    <input name="create_user" type="text" ng-model="obj.object.create_user" disabled="disabled">
                                    <input name="user_name" type="hidden" ng-model="obj.object.user_name" disabled="disabled">
                                </md-input-container>
                                <md-input-container flex md-no-float>
                                    <p style="margin:0px;font-weight:bold;font-size:0.4em;color: #3F51B5;"
                                       class="md-caption md-primary">
                                        创建时间:<font style="color: red;margin-left: 4px;"></font></p>
                                    <input name="create_date" type="text"  ng-model="obj.object.create_date" disabled="disabled">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column" ng-if="openFlg==2">
                                <md-input-container flex md-no-float>
                                    <p style="margin:0px;font-weight:bold;font-size:0.4em;color: #3F51B5;"
                                       class="md-caption md-primary">
                                        修改人:<font style="color: red;margin-left: 4px;"></font></p>
                                    <input name="modify_user" type="text" ng-model="obj.object.modify_user" disabled="disabled">
                                </md-input-container>
                                <md-input-container flex md-no-float>
                                    <p style="margin:0px;font-weight:bold;font-size:0.4em;color: #3F51B5;"
                                       class="md-caption md-primary">
                                        修改时间:<font style="color: red;margin-left: 4px;"></font></p>
                                    <input name="modify_date" type="text"  ng-model="obj.object.modify_date" disabled="disabled">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex md-no-float>
                                </md-input-container>
                                <md-input-container flex md-no-float>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                            </div>
                        </form>
                    </md-content>
                </div>
            </form>
            <md-button ng-click="close()" class="md-raised" style="float: right;">
                关闭
            </md-button>
            <md-button ng-click="save()" class="md-raised" style="float: right;">
                保存
            </md-button>
        </md-sidenav>
    </section>
</div>