<jr-navigation first="系统管理" second="待办任务"></jr-navigation>
<div layout="column" style="background: #E5E9EC;">
    <section layout="row" flex>
        <md-content flex style="background: #E5E9EC;">
            <md-card style="margin-top: 2px;">
                <md-card-content>
                    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-pinning
                         ui-grid-resize-columns ui-grid-auto-resize style="height: 450px"></div>
                </md-card-content>
            </md-card>
        </md-content>
    </section>
</div>
