<div style="background: #E5E9EC;margin-top: 5px;margin-left: 2%;margin-bottom: 5px;">
    <md-content class="row" style="display:flex;background: #E5E9EC;">
        <md-button class="md-icon-button" style="border: 1px solid #0AA699;height: 30px;min-height: 30px;width: 30px;"
                   ng-click="toDashborad()"
                   aria-label="Install with Bower"
                   >
            <md-tooltip md-autohide>首页</md-tooltip>
            <md-icon md-svg-src="images/icons/iconfont-home.svg"
                     style="color: #0AA699;vertical-align:super;width: 20px;height: 20px;"></md-icon>
        </md-button>
        <font style="margin-top: 5px;color: #37A8AF;">{{first}}</font><font style="margin-top: 5px;color: #777;">&nbsp;/&nbsp;{{second}}</font>
    </md-content>
</div>
